<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <span><h3>Title: </span><%= post.title%></h3>
    </li>
    <li>
      <span>Body: </span><%= post.body%>
    </li>
    <% if user_signed_in? %>
      <li>
        <span>Author: </span><%= post.user.name%>
    </li>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>